
.nav_box{
	width: 100%;
	height: 3.25rem;
	padding: 0 1.5rem;
	background: transparent;
    transition: all 600ms ease;
   	position: fixed;
    top: 0;
    z-index: 10;
    background-color: transparent;
    @include media(600px){
		padding: 0 .8rem;
	}

    &.hsla{
    	background-color: hsla(0,0%,100%,.5);
    }

    &:hover{
    	background-color: rgba(255,255,255,.95);
    	box-shadow: 0 1px 40px -8px rgba(0,0,0,.5);
    }

    &.isTop{
    	background-color: rgba(255,255,255,.95);
    	box-shadow: 0 1px 40px -8px rgba(0,0,0,.5);
    }

	.logo{
		height: 2.2rem;
	}

	.menu{
		width: 100%;
		text-align: right;

		li{
			display: inline-block;
			margin-right: 1rem;
			a{
				font-size: 1.2rem;
			}
		}
	}

}
